
html, body {
  height:100vh;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 00px;
}

p {
  font-size: 2vw;
  font-family: 'Abel', sans-serif;
}


.about {
  text-align: center;
  margin-top: 2em;
  font-family: 'Abel', sans-serif;
}

.bg-1 {
    background-color:#a30b37 ;
    color: #f7ece1;
    height: 8em;
}

.col-centered {
  text-align: center;
}

.social-media-icons {
  text-align: center;
  font-size: 24px;
  color: #a30b37;
}

.tile-content {
  position: absolute;
  height: 80%;
  width:24%;
  padding: 10% 5%;
  text-align: center;
  color: white;
  font-size: 2vw;
}

.tiles {
  width: 25%;
  padding-bottom: 25%;
  background-color: #8C092E;
  margin-top: 3em;
  margin-left: 2em;
  display: inline-block;
}



#about {
  text-align: center;
  font-size: 18px;
}

#main-left {
  height: 100vh;
  padding-left: 0px;
  background-color: #afc2d5;
}

#main-photo {
  margin: 0 auto;
  display: block;
  background-color: white;
  border: 0px;
  margin-top: 3em;
}

#main-right {
  height: 100vh;
  background-color: white;
}


#Name {
  font-family: 'Abel', sans-serif;
  font-size: 64px;
  text-align: left;
  color: white;
}

#navBar {
  text-align: left;
  margin-top: -1em;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
